<div class="package subscriptions"> 
  <div class="title more-info-bar contracted">
    Package Subscriptions
    <span class="arrow-contracted"></span>
  </div>
  <ul class="list">
  <% data.subscriptions.each do |unit| %>
    <li>
    <div class="col_1" ><%= unit.name %> </div>
    <div class="col_2" ><%= unit.type %> </div> 
    <div class="col_3" ><%= currency_sign %><%= unit.cost %> </div>
    </li>
  <% end %>
  </ul>
  <%= partial :"components/subtotal", locals: { subtotal: data.total }  %>
  
</div>
